<div class="contact-section">
    <div class="container">
        <h2 class="section-title">GET IN TOUCH</h2>
        <p class="section-description">
            Trysail transom furl Sea Legs scallywag Jack Ketch chandler mizzenmast reef sails skysail.
            Shiver me timbers loot bucko belaying pin Sea Legs boom gunwalls booty jury mast fore.
        </p>
        <!--Contact Form-->
        <div class="contact-form">
            <h3>Contact Form</h3>
            <form>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name">Name *</label>
                        <input type="text" id="name" class="form-control" placeholder="Enter your name" autocomplete="off" required >
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email Address *</label>
                        <input type="email" id="email" class="form-control" placeholder="Enter your email" autocomplete="off" required >
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="message">Message *</label>
                        <textarea id="message" class="form-control" rows="5" placeholder="Enter your message"
                           autocomplete="off" required></textarea>
                    </div>
                </div>

                <button type="submit" class="btn-send">Send</button>
            </form>
        </div>
    </div>
</div>